<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Learn.Blazor</a>
    <button class="navbar-toggler" onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class=@(collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
    <ul class="nav flex-column">
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-1" style="background-color:currentColor;">
            <h5 style="color:azure;">Component Types</h5>
            <ul class="nav flex-column">
                <li class="nav-item px-1">
                    <NavLink class="nav-link" href="inline-component">
                        <span class="oi oi-home" aria-hidden="true"></span>Inline Component
                    </NavLink>
                </li>
                <li class="nav-item px-1">
                    <NavLink class="nav-link" href="code-behind-component">
                        <span class="oi oi-home" aria-hidden="true"></span>Code Behind Component
                    </NavLink>
                </li>
                <li class="nav-item px-1">
                    <NavLink class="nav-link" href="classonly">
                        <span class="oi oi-home" aria-hidden="true"></span>Class Only Component
                    </NavLink>
                </li>
            </ul>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="custom-layout">
                <span class="oi oi-home" aria-hidden="true"></span>Layout
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="router">
                <span class="oi oi-home" aria-hidden="true"></span>Route
            </NavLink>
        </li>

        <li class="nav-item px-1">
            <NavLink class="nav-link" href="life-cycle-events">
                <span class="oi oi-home" aria-hidden="true"></span>Life Cycle Events
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="Data-Binding">
                <span class="oi oi-home" aria-hidden="true"></span>Data Binding
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="events">
                <span class="oi oi-home" aria-hidden="true"></span>Event Binding
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="js-interop">
                <span class="oi oi-home" aria-hidden="true"></span>JavaScript Interop
            </NavLink>
        </li>
    </ul>

</div>

@functions {
bool collapseNavMenu = true;

void ToggleNavMenu()
{
    collapseNavMenu = !collapseNavMenu;
}
}
